* {
  margin: 0;
  padding: 0;
  font-family: 'Concert One';
  box-sizing: border-box;
}

body{
  background-color:	#faefae;
  height: 100vh;
}

h1{
  color: #8b2138;  
  font-size: 100px;
  padding-top: 230px;
  text-align: center;
  transition: font-size 1s; 
  transition-delay: 0;
  transition-timing-function: linear;
}

h1:hover{
  font-size: 130px;
}

a{
  text-decoration: none;
}

p{
  color: #595e5d;
  font-size: 40px;
  text-align: center;
  line-height: 120%;
  margin-bottom: 40px;
}

h2{
  color: #8b2138;
  font-size: 60px;  
  line-height: 120%;
  margin-bottom: 20px;
}

.board{
  display: flex;  
  width: 1000px;  
  margin: auto;
  gap: 10px;
  column-gap: 10px;  
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  
}

.board > div{
  display: flex;
  width: 140px;
  height: 215px;  
  border-radius: 20px;   
}

.board > div img{
  width: 100%;
  border-radius: 20px;
  border: 4px solid #0095bd;
}

.visible{
  display: block;
}

.hidden{
  display: none;
}

.flip .visible{
  display: none;
}

.flip .hidden{
  display: block;
}

.turnoff .visible{
  display: none;
}

.turnoff .hidden{  
  display: none;
}

.counter{
  text-align: center;
  margin: auto;
  margin-top: 120px;
}

.counter div{
  height: 65px;
  width: 270px;
  line-height: 65px;
  color: 	#ffffff;
  background-color: #0095bd;
  border: 1px solid #0095bd;
  border-radius: 20px;
  margin: auto;
  font-size: 30px;
  text-transform: uppercase;
}

.counter div:hover{
  background-color: #8b2138;
}

